*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    flex-direction: column;
    background-image: url("./images/backgrounds/background-destination-desktop.jpg");
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4%;
    padding-left: 3%
}
.head-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logo{
    padding-right: 5%;
}
.horizontal-line{
    background-color: white;
    height: 1%;
    width: 39%;
    margin-top: 1.9%;
    z-index: 1;
}
.buttons-tape{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    width: 59%;
    height: 197%;
    margin-left: -2%;
    margin-top: -1%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.upper-buttons{
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.btn{
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
    font-size: 100%;
}
.btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: -2.3rem;
    background: gray;
}
.Home-button::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;}
.Home-button:hover::after{
    transform: scale(1, 1);
}
.DES-button::after{
    background: white;
}
.CREW-button::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.CREW-button:hover::after{
    transform: scale(1, 1);
}
.TECH-button::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.TECH-button:hover::after{
    transform: scale(1, 1);
}
.planet-buttons-tape{
    width: 100%;
    display: flex;
    flex-direction: row;
    animation-name: toLeft-animation;
    animation-duration: 1s;
}
.planetsButtons{
    display: flex;
    gap: 10%;
    justify-content: center;
    width: 90%;
}
.Planetbtn{
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 100%;
    font-size: 0.9rem;
    color: #CCD3F3;
}
.Planetbtn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: -1rem;
    background: gray;
}
.moonhover::after{
    background: white;
}
.moonhover:hover::after{
    transform: scale(1, 1);
}
.marshover::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.marshover:hover::after{
    transform: scale(1, 1);
}
.europahover::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.europahover:hover::after{
    transform: scale(1, 1);
}
.titanhover::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.titanhover:hover::after{
    transform: scale(1, 1);
}
.body{
    display: flex;
    flex-direction: row;
    gap: 30%;
    margin-top: 8%;
    margin-left: 8%;
}
.leftPart{
    width: 42%;
    display: flex;
    flex-direction: column;
}
.staticPhrase{
    color: white;
    font-size: 2rem;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.staticPhrase span{
    padding-right: 3%;
    color: #4A4B54;
}
.rightPart{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
    margin-right: 10%;
}
.planetImage{
    margin-top: 20%;
    animation-name: toRight-animation;
    animation-duration: 2s;
}
@keyframes toRight-animation {
    from {
        opacity: 0;
    translate: -5vw 0;
    /* scale: 200% 1; */
    }

    to {
        opacity: 1;
    translate: 0 0;
    /* scale: 100% 1; */
    }
}
.planetNameAndText{
    color: #CCD3F3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 118%;
    line-height: 1.5rem;
    font-size: 1.1rem;
}
.planetName{
    color: white;
    font-size: 8rem;
    line-height: 13rem;
    animation-name: toRight-animation;
    animation-duration: 1s;
}
.planetPara{
    animation-name: toRight-animation;
    animation-duration: 2s;
}
@keyframes toLeft-animation {
    from {
        opacity: 0;
    translate: 5vw 0;
    /* scale: 200% 1; */
    }

    to {
        opacity: 1;
    translate: 0 0;
    /* scale: 100% 1; */
    }
}
.hr{
    margin-top: 10%;
    height: 0.1%;
    background: #383B4C;
    width: 430px;
}
.distanceAndtravel{
    display: flex;
    flex-direction: row;
    color: #CCD3F3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    gap: 25%;
    padding-top: 10%;
}
.distance{
    animation-name: toRight-animation;
    animation-duration: 2s;
}
.travil_time{
    animation-name: toLeft-animation;
    animation-duration: 2s;
}
.distanceAndtravel span{
    color: white;
    font-size: 2rem;
    line-height: 4rem;
    padding-bottom: 38.3%;
}
